/* Estilo para el cuerpo (body) de la página */
html{
    
    color: #001233;
}

body {
    font-family: sans-serif; /* Fuente utilizada en el texto */
    margin: 20px solid #dfbaba; /* Margen exterior de 20 píxeles en todas las direcciones */
    text-align: center;
    background-color: #0466c8; 
    
}

/* Estilo para los formularios (form) */
form {
    border: 1px solid #ccc; /* Borde con un grosor de 1 píxel y color gris claro (#ccc) */
    /* agregué padding rigth */
    padding: 20px 30px 20px 20px ; /* Espaciado interno de 20 píxeles */ 
    width: 300px; /* Ancho del formulario de 300 píxeles */
    background-color: rgb(112, 161, 145);
    display: inline-block;
    background-color: #979dac;
   
    
}

/* Estilo para las etiquetas (label) */
label {
    display: block; /* Cambia la presentación de etiquetas a bloque (una debajo de la otra) */
    margin-bottom: 5px; /* Margen inferior de 5 píxeles para separar etiquetas */
}

/* Estilo para los campos de entrada (input) */
input {
    width: 100%; /* Ancho del campo de entrada al 100% del contenedor */
    padding: 5px; /* Espaciado interno de 5 píxeles para el contenido del campo */
    margin-bottom: 10px; /* Margen inferior de 10 píxeles para separar campos */
}

/* Estilo para listas no ordenadas (ul) */
ul {
    list-style-type: none; /* Elimina los marcadores de lista */
    padding: 0; /* Elimina el relleno en la lista */
}

/* Estilo para elementos de lista (li) */
li {
    margin-bottom: 5px; /* Margen inferior de 5 píxeles para separar elementos de la lista */
}

/* estilos */

.titulo{
    font-family: sans-serif;
    font-weight: 600;
    font-style: oblique;
    text-shadow: 2px 2px 5px rgba(82, 53, 53, 0.8);
    font-size: 55px;
      
}

.guardar input[type="submit"]:hover {
    background-color: #45a049; /* Color de fondo al pasar el mouse */
}